body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}
main {
    max-width: 600px;
    margin: auto;
}
fieldset {
    border: thick solid #000;
    margin: 30px 0;
    display: none;
}

legend {
    color: #FFF;
    background: #000;
    font-size: 1.5em;
    padding: 5px;
    
}

#next_button {
    border: #000 solid 4px;
    background: #FFF;
    color: fff;
    font-size: 16px;
    font-weight: 600;
    padding:10px 30px;
    font-family: 'Roboto', sans-serif;
}

#result_button {
    border: #000 solid 4px;
    background: #FFF;
    color: fff;
    font-size: 16px;
    font-weight: 600;
    padding:10px 30px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

#random-img {
    border: #000 solid 4px;
    margin-top: 10px;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
  }
  .loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }